@keyframes infinite-scroll-x {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  
  .animate-infinite-scroll-x {
    animation: infinite-scroll-x 30s linear infinite;
  }
  